@charset "utf-8";

{% if site.google_search %}
#google-search table, #google-search td {
	border: 0;
}
.gsc-input-box, #gs_id50 {
	margin: 0;
	height: 30px;
}
{% endif %}

.twitter-tweet {
	margin: 0 auto;
}

{% if site.buymeacoffee_button.slug %}
.bmc-btn
{
	min-width: 114px;
	font-size: 10px;
	letter-spacing: -0.5px;
	height: 20px;
	padding: 0px 6px;
	border-radius: 3px;
}

.bmc-btn svg
{
	height: 16px !important;
}

.bmc-btn-text
{
	margin-left: 6px;
}
{% endif %}
