---
layout: page
title: Categories
permalink: /categories/
---

{% assign sorted_categories = site.categories | sort %}

<div class="tagbox">
	{% for category in sorted_categories %}
	<a href="{{ BASE_PATH }}{{ site.JB.categories_path }}#{{ category[0] }}"><span class="tag-name">{{ category[0] }} <span class="tag-size">{{ category[1].size }}</span></a>
	{% endfor %}
</div>

{% for category in sorted_categories %}
<h2 id="{{ category[0] }}">{{ category[0] }}</h2>
<ul>
	{% for node in category[1] %}
		{% if page.url == node.url %}
		<li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
		{% else %}
		<li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
		{% endif %}
	{% endfor %}
</ul>
{% endfor %}
