---
layout: page
title: Tags
permalink: /tags/
---

{% assign sorted_tags = site.tags | sort %}

<div class="tagbox">
	{% for tag in sorted_tags %}
	<a href="{{ BASE_PATH }}/tags#{{ tag[0] }}"><span class="tag-name">{{ tag[0] }}</span>{% if tag[1].size > 1 %} <span class="tag-size">{{ tag[1].size }}</span>{% endif %}</a>
	{% endfor %}
</div>

{% for tag in sorted_tags %}
<h2 id="{{ tag[0] }}">{{ tag[0] }}</h2>
<ul>
	{% for node in tag[1] %}
		{% if page.url == node.url %}
		<li class="active"><a href="{{ BASE_PATH }}{{node.url}}" class="active">{{node.title}}</a></li>
		{% else %}
		<li><a href="{{ BASE_PATH }}{{node.url}}">{{node.title}}</a></li>
		{% endif %}
	{% endfor %}
</ul>
{% endfor %}
