#footnote-popup {
	padding: 0.5em;
	position: relative;
	z-index: 99;

	border: #ccc solid 1px;
	background: #fefdd3;

	border-radius:         10px;
	-moz-border-radius:    10px;
	-webkit-border-radius: 10px;

	box-shadow:         0px 0px 7px 3px #ccc;
	-moz-box-shadow:    0px 0px 7px 3px #ccc;
	-webkit-box-shadow: 0px 0px 7px 3px #ccc;
}

#footnote-popup {
	margin-top: 10px;
}
#footnote-popup:after {
	content: ' ';
	height: 0;
	position: absolute;
	width: 0;
}
#footnote-popup:before,
#footnote-popup:after {
	margin-left: 7px;
	content: ' ';
	width: 0;
	height: 0;
	position: absolute;
	border: 10px solid transparent;
}
#footnote-popup:before {
	border-bottom-color: #ccc;
	top: -20px;
}
#footnote-popup:after {
	border-bottom-color: #fefdd3;
	top: -19px;
}

div.imageblock {
	text-align: center;
	margin: 1em 0;
	padding: 0.5em;
	border: 1px dashed #ccc;
	border-radius:         5px;
	-moz-border-radius:    5px;
	-webkit-border-radius: 5px;
}
div.imageblock p.imagecaption{
	margin: 1em 0 0 0;
}
