@charset "utf-8";

.gsc-control-cse {
	width: 200px;
	float: right;

	border: 0;
	padding: 7px 0 0 0;
	background-color: transparent;
}
.gsib_a {
	padding: 1px 5px;
}
.gsc-search-box-tools .gsc-search-box .gsc-input {
	padding: 0;
}
input.gsc-search-button, input.gsc-search-button:hover, input.gsc-search-button:focus {
	padding: 5px;
	margin: 0 0 0 5px;
}
