/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.navbar .nav {
	float: right;
}

/* posts index */
.post > h3.title {
	position: relative;
	padding-top: 10px;
}

.post > h3.title span.date {
	position: absolute;
	right: 0;
	font-size: 0.9em;
}

.post > .more {
	margin: 10px 0;
	text-align: left;
}

/* post-full*/
.post-full .date {
	margin-bottom: 20px;
	font-weight: bold;
}

/* tag_box */
.tag_box {
	list-style: none;
	margin: 0;
	overflow: hidden;
}

.tag_box li {
	line-height: 28px;
}

.tag_box li i {
	opacity: 0.9;
}

.tag_box.inline li {
	float: left;
}

.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color: #555;
	border-radius: 3px;
	text-decoration: none;
	border: 1px dashed #cccccc;
}

.tag_box a span {
	vertical-align: super;
	font-size: 0.8em;
}

.tag_box a:hover {
	background-color: #e5e5e5;
}

.tag_box a.active {
	background: #57A957;
	border: 1px solid #4c964d;
	color: #FFF;
}

/* posts_preview */
.posts_preview .post {
	position: relative;
	display: block;
	margin-top: 0;
	margin-bottom: -1px;
	border: 1px dashed #ccc;
	padding: 0 0.5em 1em 0.5em;
}
.posts_preview .post:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.posts_preview .post:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.posts_preview .post h2 {
	font-size: 125%;
}
.posts_preview .post h2:before {
	content: "\25cb";
	color: #008884;
	font-size: 125%;
	margin: 0 4px;
	speak: none;
}
.posts_preview .date {
	text-align: right;
	font-size: 90%;
	color: #999;
}
.posts_preview .content {
	margin-top: 4px;
}
.posts_preview .category span:first-child,
.posts_preview .tags span:first-child {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	background-image: url("../bootstrap/img/glyphicons-halflings.png");
	color: transparent;
	margin: 0 4px;
}
.posts_preview .category span:first-child {
	width: 16px;
	background-position: -408px -120px;
}
.posts_preview .tags span:first-child {
	width: 14px;
	background-position: -25px -48px;
}
