@charset "utf-8";

/* Custom container */
.container-narrow {
	margin: 0 auto;
	max-width: 700px;
}

.container-narrow > hr {
	margin: 30px 0;
}

.navbar .nav {
	float: right;
}

/* posts index */
.post > h3.title {
	position: relative;
	padding-top: 10px;
}

.post > h3.title span.date {
	position: absolute;
	right: 0;
	font-size: 0.9em;
}

.post > .more {
	margin: 10px 0;
	text-align: left;
}

/* post-full*/
.post-full .date {
	margin: -1em 0 1em 0;
	text-align: right;
	font-weight: bold;
}

/* tag_box */
.tag_box {
	list-style: none;
	margin: 0;
	overflow: hidden;
}

.tag_box li {
	line-height: 28px;
}

.tag_box li i {
	opacity: 0.9;
}

.tag_box.inline li {
	float: left;
}

.tag_box a {
	padding: 3px 6px;
	margin: 2px;
	background: #eee;
	color: #555;
	border-radius: 3px;
	text-decoration: none;
	border: 1px dashed #cccccc;
}

.tag_box a span {
	vertical-align: super;
	font-size: 0.8em;
}

.tag_box a:hover {
	background-color: #e5e5e5;
}

.tag_box a.active {
	background: #57A957;
	border: 1px solid #4c964d;
	color: #FFF;
}

/* posts_preview */
.posts_preview .post {
	position: relative;
	display: block;
	margin-top: 0;
	margin-bottom: -1px;
	border: 1px dashed #ccc;
	padding: 0 0.5em 1em 0.5em;
}
.posts_preview .post:first-child {
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
}
.posts_preview .post:last-child {
	border-bottom-right-radius: 4px;
	border-bottom-left-radius: 4px;
}
.posts_preview .post h2 {
	font-size: 125%;
}
.posts_preview .post h2:before {
	content: "\25cb";
	color: #008884;
	font-size: 125%;
	margin: 0 4px;
	speak: none;
}
.posts_preview .date {
	margin-top: -1em;
	text-align: right;
	font-size: 90%;
	color: #999;
}
.posts_preview .content {
	margin-top: 4px;
}
.posts_preview .category span:first-child,
.posts_preview .tags span:first-child {
	display: inline-block;
	height: 14px;
	line-height: 14px;
	background-image: url("../bootstrap/img/glyphicons-halflings.png");
	color: transparent;
}
.posts_preview .category span:first-child {
	width: 16px;
	margin: 0 4px;
	background-position: -408px -120px;
}
.posts_preview .tags span:first-child {
	width: 14px;
	margin: 0 5px;
	background-position: -25px -48px;
}

div.footnotes {
	border: 1px dotted #cccccc;
	border-radius: 4px;
	margin-top: 2.5em;
	margin-bottom: 1.5em;
	padding: 0 0.5em 0.5em 0.5em;
}
div.footnotes:before {
	content: "註";
	position: relative;
	top: -1em;
	margin-left: 0.5em;
	padding: 0 0.5em;
	background: white;
	color: #cccccc;
}
sup a.footnote {
	margin: 0 2px 0 2px;
	padding : 1px 2px;
	font-weight: bold;
	color: white;
	background: #ff3333;

	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
}

/* table */
.content table {
	border: 0;
	border-top: 1px solid #ccc;
	margin: 1em 0.5em;
}
.content table th,
.content table td {
	border: 1px solid #ccc;
	border-top: 0;
	padding: 0.2em 0.5em;
}
.content table th {
	background: #eee;
}

#toc {
	border: 1px dotted #cccccc;
	padding-bottom: 0.5em;
	margin: 1em 0 2em 0;
}
#toc:before {
	content: "TOC";
	position: relative;
	top: -1em;
	margin-left: 0.5em;
	padding: 0 0.5em;
	background: white;
	color: #cccccc;
}
#toc li {
	list-style-type: none;
}
#toc > ul > li {
	margin-bottom: 0.5em;
}
#toc > ul > li > a {
	font-size: 1.5em;
	line-height: 150%;
}

ul#snsbutton > li:first-child {
	margin-right: 2px;
}
#snsbutton #twitter_iframe_widget {
	height: 28px;
}
#snsbutton #twitter-widget-0 {
	vertical-align: bottom;
}
