---
layout: default
---
{% include JB/setup %}
{% include themes/twitter/post.html %}

<link rel="stylesheet" type="text/css" href="/res/mdenh.css" />
<script src="/res/dompos.js"></script>
<script src="/res/mdenh.js"></script>
<script src="http://samaxesjs.googlecode.com/files/samaxesjs.toc-1.5.min.js"></script>
<script type="text/javascript">
	var toc = document.getElementById('toc');
	if (!toc) {
		var baseElm = document.getElementsByClassName('content')[1];
		toc = document.createElement('div');
		toc.id = 'toc';
		baseElm.parentNode.insertBefore(toc, baseElm);
	}
	samaxesJS.toc();

	MarkdownEnhancer.footnotePopup();
	MarkdownEnhancer.imageBlock( document.getElementsByClassName('content')[1] );
</script>
