---
layout: default
---
{% include JB/setup %}
{% include themes/twitter/post.html %}

<link rel="stylesheet" type="text/css" href="/res/mdenh.css" />
<script src="/res/dompos.js"></script>
<script src="/res/mdenh.js"></script>
<script src="http://samaxesjs.googlecode.com/files/samaxesjs.toc-1.5.min.js"></script>
<script type="text/javascript">
	var content = document.getElementsByClassName('content')[0];

	var toc = document.getElementById('toc');
	if (!toc) {
		var h2s = content.getElementsByTagName('h2');
		if (h2s.length > 0) {
			toc = document.createElement('div');
			toc.id = 'toc';
			content.parentNode.insertBefore(toc, content);
		}
	}
	samaxesJS.toc();

	MarkdownEnhancer.footnotePopup();
	MarkdownEnhancer.imageBlock( content );
</script>
